<div class="container">
  <div class="row">
   
    <div class="col-xs-3">
      <div class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cloud fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Today degrees </span>
            <h2 class="font-bold">{{temp}}'C</h2>
            <small>{{desc}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3" routerLink='../myhospitals'>
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-hospital-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Hospitals </span>
            <h2 class="font-bold"></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3" routerLink='../mydoctors'>
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-user-xs fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Doctors </span>
            <h2 class="font-bold">{{doctors}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="widget style1 blue-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-user-plus fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Patients </span>
            <h2 class="font-bold">{{doctors}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-bell fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Notification </span>
            <h2 class="font-bold">{{notificationLength}}</h2>
          </div>
        </div>
      </div>
    </div>
     <div class="col-xs-3">
      <div class="widget style1">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-trophy fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Today income </span>
            <h2 class="font-bold">$ 4,232</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>