<hr>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="row main">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <form action="" [formGroup]="myform" (ngSubmit)="onSubmit()">
                        <h2 class="text-center"> Fill the form</h2>
                        <hr>
                        <div class="form-group">
                            <div class="setting image_picker">
                                <h2>Image</h2>
                                <div class="settings_wrap">
                                    <label class="drop_target">
                                        <input id="inputFile" type="file"  formControlName="image" (change)="readUrl($event)">
                                    </label>
                                    <div class="image_preview">
                                            <img [src]="imgurl" width="75px"height="75px" alt="">
                                        </div>
                                    <div class="image_details">
                                        <label class="input_line image_title">
                                            <input type="text" placeholder="Title"  required>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="form-group">
                            <label for="contact"> Contact</label>
                            <input type="text" name="contact" formControlName = "contact" class="form-control" id="contact">
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country"> Country</label>
                                    <input type="text" name="country" formControlName = "country" class="form-control" id="country">
                                </div>  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" name="city" class="form-control" formControlName = "city" id="city">
                                </div>
                            </div>
                            <small>For better accuracy find you on map after filling <span class="fa fa-arrow-right"></span></small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="pan">Personal ID or PAN</label>
                            <input type="text" name="pan" formControlName = "pan" class="form-control" id="pan">
                        </div>
                        <div class="alert alert-danger" *ngIf="(submitAttempt) && (myform.invalid)">
                                {{msg}}
                            </div>
                        <hr>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                    <h3 class="text-center"> Find your location</h3>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button (click)="setMapType('roadmap')" class="btn btn-primary">Road map</button>
                    <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
                </div>
                </div>
                <div class="row map">
                <div id="floating-panel">
                    <input id="address" type="textbox" [(ngModel)]="address" placeholder="Enter accurate location">
                    <input id="submit" type="button" (click)="geocode()" value="Geocode">
                    <button class="btn btn-primary"(click)="findMe()">Find me</button>
                </div>
                <div class="col-md-12" >
                    <div id="map" #gmap></div>
                </div>
            </div>
        </div>
    </div>
</div>