<hr>
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" [ngClass]="{'active': toggleSidebar==true}">
      <div class="sidebar-header">
        <div class="img">
          <img src="http://placehold.it/400x400" class="img-responsive" alt="patient">
        </div>
      </div>

      <ul class="list-unstyled components">
          <p>{{user.firstName}} {{user.lastName}}</p>
          <li class="active">
              <a href="#doctorCollapse" data-toggle="collapse" aria-expanded="false">Manage Doctors <span class="badge badge-danger">{{notificationLength}}</span></a>
              <ul class="collapse  list-unstyled" id="doctorCollapse">
                  <li><a routerLink="doctorregistration">Doctor Request <span class="badge">{{user.manager.doctorRequest.length}}</span></a></li>
              </ul>
          </li>
        <li class="">
            <a href="#appointCollapse" data-toggle="collapse" aria-expanded="false">Manage Appointments 
                <span class="badge badge-danger">{{notificationLength}}</span>
            </a>
            <ul class="collapse list-unstyled" id="appointCollapse">
                <li>
                    <a routerLink="appointmentrequests">Appointment Request
                        <span class="badge">{{user.manager.doctorRequest.length}}</span>
                    </a>
                </li>
            </ul>
        </li>
          <li>
              <a href="#">About</a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Manage Hospitals</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li><a routerLink="newhospital">New Hospital</a></li>
              </ul>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li><a (click)="logout()" class="download">Log out</a></li>
      </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

      <nav class="navbar navbar-default">
          <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="btn navbar-btn" (click)="toggleSidebar=!toggleSidebar">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Toggle Sidebar</span>
                  </button>
              </div>

              <div class="" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li routerLink='dashboard' routerLinkActive="activated"><a>Dashboard</a></li>
                    <li routerLink='myhospitals' routerLinkActive ="activated"><a >Hospitals</a></li>
                    <li routerLink='mydoctors' routerLinkActive ="activated" ><a >Doctors</a></li>
                    <li routerLink='mypatient' routerLinkActive ="activated"><a >Patients</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      <router-outlet></router-outlet>
  </div>
</div>